<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ITtools_clone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/defaultlayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ITtools_clone.styles.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class="d-flex flex-column">
            <div class="text-center mb-4">
                <a id="title-home" asp-controller="Home" asp-action="Index" class="fs-3 fw-bold d-flex justify-content-center align-items-center">IT - Tools Clone</a>
            </div>
            <div class="nav-container">
                <ul class="nav flex-column">
                    @await Component.InvokeAsync("FavoriteMenu")
                    @await Component.InvokeAsync("PluginsList")
                    @* <li>
                        <a class="nav-link" asp-controller="Home" asp-action="TestNewTool">Test new tool</a>
                    </li> *@
                </ul>
            </div>
        </nav>

        <!-- Main Container -->
        <div id="main-container">
            <header id="header" class="d-flex align-items-center">
                <div class="d-flex align-items-center justify-content-center">
                    <button id="toggleSidebar" class="d-flex justify-content-center align-items-center">
                        <i class="bi bi-list fs-2"></i>
                    </button>

                    <div id="home-tag" class="d-flex align-items-center justify-content-center">
                        <a asp-controller="Home" asp-action="Index" class="fw-bold d-flex align-items-center">
                            <i class="bi bi-house-door fs-2"></i>
                        </a>
                        <span>Home</span>
                    </div>

                    @if (Context.Session.GetInt32("UserId") != null && Context.Session.GetInt32("isAdmin") == 1){
                        <div id="management-tag" class="d-flex align-items-center justify-content-center">
                            <a asp-controller="Admin" asp-action="ManageTools" class="fw-bold d-flex align-items-center">
                                <i class="bi bi-wrench-adjustable-circle fs-2"></i>
                            </a>
                            <span>Management Site</span>
                        </div>
                    }
                </div>
                <div class="flex-grow-1">
                    <form class="d-flex mx-4" method="get" action="@Url.Action("Search", "Home")">
                        <input type="text" name="query" id="search-box" placeholder="Search tool..." class="form-control w-100" />
                        <button type="submit" class="btn btn-primary ms-2">
                            <i class="bi bi-search"></i>
                        </button>
                    </form>
                </div>
                <div class="d-flex align-items-center">
                    @if (Context.Session.GetInt32("UserId") != null)
                    {
                        @if (Context.Session.GetInt32("isAdmin") == 0)
                        {
                            @if (Context.Session.GetInt32("Premium") == 0)
                            {
                                @if (Context.Session.GetInt32("RequestPremium") == 1)
                                {
                                    <div class="badge bg-secondary py-2 px-2">
                                        <span>Waiting for upgrade to Premium</span>
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="User" asp-action="RequestPremium" class="btn btn-warning mx-2">Request Premium Upgrade</a>
                                }
                            }
                            else
                            {
                                <div class="badge bg-warning py-2 px-2">
                                    <span>Premium</span>
                                </div>
                            }
                        }
                        <div class="d-flex align-items-center mx-2 px-2">
                            <p class="m-0">
                                Welcome,
                                <span class="fw-bold">@Context.Session.GetString("Username")</span>
                            </p>
                        </div>
                        <a asp-controller="Auth" asp-action="Logout" class="btn btn-danger mx-2">Log out</a>
                    }
                    else
                    {
                        <a asp-controller="Auth" asp-action="Login" class="btn btn-primary mx-2">Log in</a>
                        <a asp-controller="Auth" asp-action="Register" class="btn btn-primary">Register</a>
                    }
                </div>
            </header>
            <div id="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/defaultlayout.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
